### OSX ###
# General
.DS_Store

# everything that is temporary
_*


# Created by https://www.gitignore.io/api/latex
# Edit at https://www.gitignore.io/?templates=latex

### LaTeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync


# End of https://www.gitignore.io/api/latex

.vscode/
code/.vscode/
*.pyc
.ipynb_checkpoints
.~lock*

video/ctc_movie.blend
